html, body{
	float: right;
	direction: rtl;
	padding: 0px;
	outline: none;
	margin: 0px;
	cursor: default;
	background-color: rgba(210, 240, 250, 1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select:none;
}

.glass{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.7;
	z-index: 99998;
	-webkit-transition: 250ms ease;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(235, 245, 255, 0.7);
	z-index: 99999;
	transition: 250ms ease;
	-moz-transition: 250ms ease;
	-webkit-transition: 250ms ease;
	display: none;
}
.loading .icon{
	position: absolute;
	width: 250px;
	height: 150px;
	left: 50%;
	margin-left: -125px;
	margin-top: -100px;
	top: 50%;
	background-image: url('/includes/images/home-icon.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.loading .loading-icon{
	position: absolute;
	width: 75px;
	height: 75px;
	left: 50%;
	margin-left: -35px;
	margin-top: 50px;
	top: 50%;
	background-image: url('/includes/images/loading.gif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

/* Headers */
/* ---------------------------------------------------------------------- */



/* Menus */
/* ---------------------------------------------------------------------- */


/* SideBar Menu */


/*
// Login Form Styles --------------------------------------------------
*/
#frmlogin{
	direction: ltr;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	-webkit-transition: 250ms ease;
	opacity: 0;
	display: none;
}
#frmlogin #container{
	position: absolute;
	width: 300px;
	height: 300px;
	margin: -150px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 30, 60, 1);
	z-index: 99999;
}
#frmlogin #title{
	padding: 10px;
	background-color: white;
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
#frmlogin input,
#frmlogin button,
#frmlogin .input{
	width: 250px;
}
#frmlogin input[type="submit"]{
	margin-bottom: 10px;
}

#frmlogin button{
	text-align: center;
	margin-top: -20px;
	font-weight: bold;
	text-shadow: 0px 0px 25px rgba(0, 60, 90, 1);
}
#frmlogin button:before{
	border-radius: 5px;
}
#frmlogin button:hover{
	text-shadow: 0px 0px 5px rgba(0, 60, 90, 1);
}
#frmlogin button:hover:before{
	box-shadow: 0px 1px 3px rgba(0, 30, 60, 1);
}

/*
// Buttons ------------------------------------------------------------
*/

/* button[class="icon"] ----------------------------------------------- */

button[class="icon"]{
	border: none;
	outline: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: transparent;
}
button[class="icon"]:before{
	font-family: icon;
	font-size: 27px;
	color: rgba(230, 230, 255, 1);
}
button[class="icon"]:hover:before{
	color: rgba(245, 250, 255, 1);
	text-shadow: 0px 0px 10px rgba(245, 240, 195, 1);
}
button[class="icon"]:active:before{
	color: transparent;
	text-shadow: 0px 0px 7px rgba(245, 240, 195, 1);
}
button[class="icon"]:disabled:before,
button[class="icon"]:disabled:hover,
button[class="icon"]:disabled:hover:before{
	color: rgba(240, 235, 190, 0.5);
	text-shadow: none;
	cursor: default;
}

/* button[class="neg-icon"] ----------------------------------------------- */

button[class="neg-icon"]{
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: transparent;
}
button[class="neg-icon"]:before{
	font-family: icon;
	font-size: 23px;
	color: rgba(235, 85, 5, 1);
	text-shadow: 0px 0px 0px rgba(0, 100, 180, 1);
	content: "";
	transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
}
button[class="neg-icon"]:hover:before{
	color: rgba(245, 245, 245, 1);
	text-shadow: 0px 0px 8px rgba(20, 50 , 121, 1);
}
button[class="neg-icon"]:active:before{
	color: transparent;
	text-shadow: 0px 0px 7px rgba(0, 100, 180, 1);
}
button[class="neg-icon"]:disabled{
	opacity: 0.5;
}
button[class="neg-icon"]:disabled:before,
button[class="neg-icon"]:disabled:hover,
button[class="neg-icon"]:disabled:hover:before{
	color: rgba(0, 100, 180, 1);
	text-shadow: none;
	cursor: default;
}

/* button[class="text"] ----------------------------------------------- */

button[class="text"]{
	position: relative;
	border: none;
	outline: none;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: mitra;
	font-weight: bold;
	color: rgba(230, 230, 255, 1);
	text-shadow: 2px 2px 2px rgba(20, 50, 120, 1);
	text-align: right;
	background-color: transparent;
	border-radius: 0px 10px;
	border: 0px solid black;
	transition: 200ms ease;
	-moz-transition: 200ms ease;
	-webkit-transition: 200ms ease;
}
button[class="text"]:before{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	content:"";
	border-radius: 0px 10px;
	box-shadow: 0px 0px 0px rgba(20, 50, 120, 1);
	transform: scale(0.98);
	transition: 250ms ease;
	-moz-transition: 250ms ease;
	-webkit-transition: 250ms ease;
}
button[class="text"]:hover{
	text-shadow: 0px 0px 7px rgba(245, 240, 195, 1);
	color: rgba(245, 245, 245, 1);
}
button[class="text"]:hover:before{
	box-shadow: 2px 2px 7px rgba(20, 50, 120, 1);
	transform: scale(1);
}
button[class="text"]:active{
	text-shadow: 0px 0px 7px rgba(245, 240, 195, 1);
	transform: scale(0.98);
}
button[class="text"]:active:before{
	box-shadow: 0px 0px 3px rgba(110, 60, 30, 1);
}
button[class="text"]:disabled{
	color: rgba(245, 245, 245, 1);
	text-shadow: 0px 0px 7px rgba(245, 240, 195, 1);
	cursor: default;
}
button[class="text"]:disabled:before{
	transform: scale(1);
	box-shadow: 0px 0px 2px rgba(110, 60, 30, 1);
}

/* button[class="neg-text"] ------------------------------------------- */

button[class="index"]{
	border: none;
	outline: none;
	background-color: transparent;
	font-family: mitra;
	font-size: 20px;
	font-weight: bold;
	color: rgba(230, 230, 255, 1);
	text-shadow: 0px 0px 25px rgba(0, 10, 70, 1);
	height: 50px;
	border-radius: 5px;
	transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
}
button[class="index"]:hover{
	box-shadow: 0px 1px 3px rgba(0, 30, 90, 1);
	text-shadow: 0px 0px 5px rgba(0, 10, 70, 1);
	color: rgba(230, 230, 255, 1);
}
button[class="index"]:active{
	box-shadow: 0px 0px 4px rgb(164, 132, 100);
}
button[class="index"]:focus{
	box-shadow: 1px 1px 3px rgba(0, 30, 90, 1);
	text-shadow: 0px 0px 25px rgba(0, 10, 70, 1);
	color: rgba(230, 230, 255, 1);
}

/*
// Inputs -------------------------------------------------------------
*/

/* input[type="text"] ------------------------------------------------- */
/* input[type="password"] --------------------------------------------- */

.input{
	position: relative;
	text-align: center;
	margin: 20px 0;
	overflow: hidden;
}
.input input[type="text"],
.input input[type="email"],
.input input[type="password"]{
	position: relative;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 70, 160, 1);
	color: rgba(235, 85, 5, 1);
	padding: 5px 5px 0 5px;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	height: 25px;
	font-family: nazanin, mitra, arial, tahoma;
}
.input input[type="text"] + hr,
.input input[type="email"] + hr,
.input input[type="password"] + hr{
	border: none;
	width: 100%;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	border-bottom: 2px solid rgba(235, 85, 5, 1);
	transform: scaleX(0);
	-moz-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition: all 450ms ease-out;
	-moz-transition: all 450ms ease-out;
	-webkit-transition: all 450ms ease-out;
}
.input input[type="text"]::-webkit-input-placeholder,
.input input[type="email"]::-webkit-input-placeholder,
.input input[type="password"]::-webkit-input-placeholder{
	font-family: nazanin;
	color: rgba(235, 85, 5, 0.5);
	-webkit-transition: all 250ms ease;
}
.input input[type="text"]:focus + hr,
.input input[type="email"]:focus + hr,
.input input[type="password"]:focus + hr{
	transform: scaleX(1);
	-moz-transform: scaleX(1);
	-webkit-transform: scaleX(1);
}
.input input[type="text"]:focus::-webkit-input-placeholder,
.input input[type="email"]:focus::-webkit-input-placeholder,
.input input[type="password"]:focus::-webkit-input-placeholder{
	color: transparent;
	-webkit-transform: scale(0);
}
.ltr,
.ltr input[type="text"] + hr,
.ltr input[type="email"] + hr,
.ltr input[type="password"] + hr{
	direction: ltr;
	transform-origin: left;
	-moz-transform-origin: left;
	-webkit-transform-origin: left;
}
.ltr input[type="text"]::-webkit-input-placeholder,
.ltr input[type="email"]::-webkit-input-placeholder,
.ltr input[type="password"]::-webkit-input-placeholder{
	-webkit-transform-origin: bottom left;
}
.rtl,
.rtl input[type="text"] + hr,
.rtl input[type="email"] + hr,
.rtl input[type="password"] + hr{
	direction: rtl;
	transform-origin: right;
	-moz-transform-origin: right;
	-webkit-transform-origin: right;
}
.rtl input[type="text"]::-webkit-input-placeholder,
.rtl input[type="email"]::-webkit-input-placeholder,
.rtl input[type="password"]::-webkit-input-placeholder{
	-webkit-transform-origin: bottom right;
}

/* input[type="submit"] ----------------------------------------------- */
input[type="submit"]{
	border: none;
	outline: none;
	background-color: transparent;
	font-family: mitra;
	font-size: 20px;
	font-weight: bold;
	color: rgba(230, 230, 255, 1);
	text-shadow: 0px 0px 25px rgba(0, 10, 70, 1);
	height: 50px;
	border-radius: 5px;
	transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
}
input[type="submit"]:hover{
	box-shadow: 0px 1px 3px rgba(0, 30, 90, 1);
	text-shadow: 0px 0px 5px rgba(0, 10, 70, 1);
	color: rgba(230, 230, 255, 1);
}
input[type="submit"]:active{
	box-shadow: 0px 0px 4px rgb(164, 132, 100);
}
input[type="submit"]:focus{
	box-shadow: 1px 1px 3px rgba(0, 30, 90, 1);
	text-shadow: 0px 0px 25px rgba(0, 10, 70, 1);
	color: rgba(230, 230, 255, 1);
}

/* input[type="checkbox"] ----------------------------------------------- */
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] + label div:before{
	border: none;
	outline: none;
	bottom: 0px;
	padding: 5px 5px;
	font-family: icon;
	font-size: 23px;
}
input[type="checkbox"] + label div:hover:before{
	color: rgba(245, 245, 245, 1);
	text-shadow: 0px 0px 8px rgba(20, 50 , 121, 1);
}

/*
// Select Box Styles --------------------------------------------------
*/
button[class="select"]{
	position: relative;
	border: none;
	outline: none;
	width: 225px;
	height: 35px;
	background-color: transparent;
	font-family: mitra;
	font-size: 20px;
	font-weight: bold;
	color: rgba(235, 85, 5, 1);
	cursor: pointer;
	text-align: center;
	transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
}
button[class="select"] p{
	margin: 0px;
	padding: 0px;
}
button[class="select"] hr{
	border: none;
	outline: none;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -8px;
	border-bottom: 1px solid rgba(0, 100, 180, 1);
}
button[class="select"] hr[class="bold"]{
	border-bottom: 2px solid rgba(0, 100, 180, 1);
	transform: scaleX(0);
	transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
}
button[class="select"] div[class="dropdown-menu"]{
	position: absolute;
	top: 33px;
	left: 0px;
	width: 100%;
	height: auto;
	padding: 10px 0px;
	font-size: 18px;
	box-shadow: 2px 2px 9px rgba(20, 50 , 121, 1);
	background-color: rgba(180, 230, 250, 1);
	border-radius: 0px 0px 0px 10px;
	transform: scaleY(0);
	transform-origin: top;
	transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
}
button[class="select"] input[type="radio"]{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

button[class="select"]:hover{
	color: rgba(245, 245, 245, 1);
	text-shadow: 0px 0px 8px rgba(20, 50 , 121, 1);
}
button[class="select"]:hover hr[class="bold"]{
	transform: scaleX(1);
}
button[class="select"]:active{
	color: transparent;
	text-shadow: 0px 0px 7px rgba(0, 100, 180, 1);
}

button[class="select"]:focus p{
	color: rgba(245, 245, 245, 1);
	text-shadow: 0px 0px 7px rgba(0, 100, 180, 1);
}
button[class="select"]:focus hr[class="bold"]{
	transform: scaleX(1);
}
button[class="select"]:focus div[class="dropdown-menu"]{
	transform: scaleY(1);
}

button[class="select"] div[class="dropdown-menu"] .select-option div{
	position: relative;
	padding: 10px;
	margin: 0px 10px 0px 10px;
	border-radius: 0px 10px;
	color: rgba(230, 230, 250, 1);
	box-shadow: 0px 0px 0px rgba(20, 50 , 120, 1);
	text-shadow: 0px 0px 5px rgba(0, 35 , 90, 1);
	transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
}
button[class="select"] div[class="dropdown-menu"] .select-option div:hover{
	color: rgba(230, 230, 250, 1);
	box-shadow: 2px 2px 6px rgba(20, 50 , 120, 1);
	text-shadow: 0px 0px 40px rgba(0, 35 , 90, 1);
}
button[class="select"] div[class="dropdown-menu"] input[type="radio"]:checked + .select-option div{
	font-weight: bold;
	color: rgba(180, 230, 250, 1);
	box-shadow: 0px 0px 1px rgba(235, 85, 5, 1);
	text-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

button[class="select"]:disabled,
button[class="select"]:disabled:hover,
button[class="select"]:disabled:active{
	cursor: default;
	color: rgba(235, 85, 5, 1);
	text-shadow: 0px 0px 0px rgba(20, 50 , 121, 1)
}
button[class="select"]:disabled hr[class="bold"],
button[class="select"]:disabled:hover hr[class="bold"],
button[class="select"]:disabled:active hr[class="bold"]{
	transform: scaleX(0);
}

/*
// List Items Styles --------------------------------------------------
*/
.listitem{
	width: 100%;
}
.listitem td{
	position: relative;
	vertical-align: middle;
	font: bold 20px mitra;
	color: rgba(235, 150, 50, 1);
	padding: 0px;
}
.listitem .date{
	direction: ltr;
	padding-left: 25px;
	font: bold 13px arial;
	color: rgba(235, 185, 50, 1);
}
.listitem .mail{
	direction: ltr;
	font: bold 15px arial;
}
.listitem .controller{
	width: 20px;
	padding: 0px;
	text-align: center;
	vertical-align: bottom;
}
.listitem .check + label div{
	position: relative;
}
.listitem .check + label div:before{
	right: 0px;
	bottom: 0px;
	font: bold 18px icon;
	color: rgba(0, 100, 180, 1);
	z-index: 99994;
	content: "\f0c8";
}
.listitem .check:checked + label div:before{
	color: rgba(235, 85, 5, 1);
	content: "\f14a";
}
.listitem .link{
	font: bold 15px comic;
	direction: ltr;
	text-align: left;
}
.listitem .edit + label div:before,
.listitem .status + label div:before,
.listitem .delete + label div:before,
.listitem .visible + label div:before,
.listitem .commentable + label div:before{
	font: bold 18px icon;
	color: rgba(0, 100, 180, 1);
}
.listitem .edit + label div:hover:before,
.listitem .status + label div:hover:before,
.listitem .delete + label div:hover:before,
.listitem .visible + label div:hover:before,
.listitem .commentable + label div:hover:before{
	color: rgba(235, 235, 250, 1);
	text-shadow: 0px 0px 3px rgba(1, 31, 91, 1);
}
.listitem .edit + label div:before,
.listitem .status + label div:before{
	font-size: 19px;
	content: "\f044";
}
.listitem .delete + label div:before{
	content: "\f014";
}
.listitem .visible + label div:before{
	content: "\f070";
}
.listitem .visible:checked  + label div:before{
	content: "\f06e";
}
.listitem .commentable + label div:before{
	content: "\f0e6";
}
.listitem .commentable:checked  + label div:before{
	content: "\f086";
}
.listitem .status + label div:before{
	content: "\f1bf";
}
.listitem .status:checked  + label div:before{
	content: "\f17f";
}
.listitem .separater{
	position: relative;
	height: 0px;
	border-bottom: 1px solid rgba(0, 100, 180, 1);
}
.listitem .separater hr{
	position: relative;
	margin: 0px;
	border: 0px;
	width: 100%;
	bottom: -1px;
	right: 0px;
	border-bottom: 2px solid rgba(235, 85, 5, 1);
	transition: 250ms;
	-moz-transition: 250ms;
	-webkit-transition: 250ms;
	transform: scaleX(0);
	-moz-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform-origin: right;
	-moz-transform-origin: right;
	-webkit-transform-origin: right;
}
.listitem .item:hover + tr hr{
	transform: scaleX(1);
	-moz-transform: scaleX(1);
	-webkit-transform: scaleX(1);
}
