html, body{
	outline: none;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: white;
}

.main-header{
	position: fixed;
	padding: 0px;
	margin: 0px;
	height: 70px;
	top: 0px;
	right: 100px;
	left: 100px;
	background-color: rgba(0, 70, 160, 1);
	border-radius: 0 0 7px 7px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
	text-align: left;
	transition: 250ms;
	z-index: 99995;
}
.main-menu{
	margin-top: 10px;
}
.main-menu .icon{
	margin-left: 15px;
}
.icon[active="true"]:before,
.icon[active="true"]:hover:before{
	color: rgba(50, 150, 220, 1);
	text-shadow: 0px 0px 10px rgba(0, 10, 30, 1);
}
#btnhome:before{
	content: '\f23d';
}
#btnlogin:before{
	content: "\f116";
}
.user-menu{
	direction: ltr;
	position: absolute;
	top: 45px;
	z-index: 99997;
	display: none;
}
.login,
.profile{
	position: absolute;
	padding: 0px;
	width: 50px;
	border-radius: 5px;
	background-color: rgba(0, 70, 160, 1);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
	display: none;
}
#login:before{
	content: "\f090";
}
#btnadministrator:before{
	content: "\f040";
}
#btndesigner:before{
	content: "\f12e";
}
#btnsettings:before{
	content: "\f085";
}
#btnstore:before{
	content: "\f07a";
}
#btnlogout:before{
	content: "\f08b";
}

#btnfactor{
	position: relative;
}
#btnfactor:before{
	font-size: 32px;
	content: "\f05f";
}
#btnfactor[status="full"]:after{
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
	background-color: rgba(235, 85, 5, 1);
	content: "";
}
#btntariff:before{
	content: "\f02c";
}
#btnstore:before{
	content: "\f10f";
}

.pages-menu{
	direction: rtl;
	position: absolute;
	top: 45px;
	min-width: 250px;
	max-width: 250px;
	z-index: 99997;
	display: none;
}

.modules-menu{
	direction: rtl;
	position: absolute;
	top: 45px;
	min-width: 250px;
	max-width: 250px;
	z-index: 99997;
	display: none;
}

.items-list{
	position: absolute;
	direction: ltr;
	text-align: right;
	width: 250px;
	max-height: 250px;
	border-radius: 5px;
	padding: 5px 5px 0px 5px;
	background-color: rgba(0, 70, 160, 1);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
	overflow: hidden;
}
.items-list .container{
	position: relative;
	width: 250px;
	left: -moz-calc( 0% - 25px );
	padding-left: -moz-calc( 0% + 25px );
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.items-list .container::-webkit-scrollbar{
	display: none;
}
.items-list hr{
	margin-top: 0px;
	margin-bottom: 5px;
}
.items-list button{
	width: 250px;
	margin-bottom: 5px;
}
.items-list button:disabled{
	background-color: rgba(230, 230, 255, 1);
	color: rgba(0, 100, 180, 1);
}
.items-list img{
	width: 250px;
	height: auto;
}

.sub-menu{
	direction: rtl;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 10px;
	padding-right: 15px;
	z-index: 99997;
}

#btnpages:before{
	content: "\f0ff";
}
#btnmodules:before{
	content: "\f100";
}
#btnreset:before{
	content: "\f021";
}
#btnsave:before{
	content: "\f0c7";
}
#btnpublish:before{
	content: "\f045";
}

.modules-menu .items-list{
	padding-top: 50px;
}
.module-categories-menu{
	position: absolute;
	padding: 0px;
	padding-left: 5px;
	top: 0px;
	right: 0px;
	left: -10px;
	border-radius: 5px 5px 0 0;
	background-color: rgba(0, 70, 160, 1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	z-index: 99997;
}
#btnheaders:before{
	content: "\f101";
}
#btncontents:before{
	content: "\f102";
}
#btnfooters:before{
	content: "\f103";
}
#btnfloats:before{
	content: "\f104";
}
#btnplugins:before{
	content: "\f105";
}

#settings-form-glass{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 70, 160, 0.25);
	z-index: 99998;
	transform: scaleY(0);
	transform-origin: top;
	transition: 250ms;
	-moz-transform: scaleY(0);
	-moz-transform-origin: top;
	-moz-transition: 250ms;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top;
	-webkit-transition: 250ms;
}
#settings-form-glass #settings-form{
	position: absolute;
	width: 450px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -225px;
	margin-top: -150px;
	text-align: center;
	background-color: rgba(210, 230, 255, 1);
	border-radius: 7px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	overflow: hidden;
}
#settings-form-glass #settings-form #title{
	padding: 10px;
	background-color: white;
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
#settings-form-glass #settings-form #container{
	position: absolute;
	left: 10px;
	left: -moz-calc( 0% - 20px );
	right: 10px;
	top: 60px;
	bottom: 60px;
	padding-left: -moz-calc( 0% + 20px );
	font: bold 22px mitra;
	color: rgba(0, 70, 160, 1);
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 1);
	overflow-y: scroll;
}
#settings-form-glass #settings-form #container::-webkit-scrollbar{
	display: none;
}

#settings-form-glass #settings-form #container .control{
	display: none;
}
#settings-form-glass #settings-form #container .control .title{
	font: bold 20px mitra;
	width: 100px;
}
#settings-form-glass #settings-form #container .control .text{
	width: 80px;
}
#settings-form-glass #settings-form #container .control #txttext,
#settings-form-glass #settings-form #container .control #txthref{
	width: 200px;
}
#settings-form-glass #settings-form #container .control table{
	width: 350px;
}
#settings-form-glass #settings-form #container .control .input{
	margin: 0px;
}
#settings-form-glass #settings-form #container #text-align,
#settings-form-glass #settings-form #container #vposition,
#settings-form-glass #settings-form #container #hposition{
	width: 100%;
	height: 40px;
	margin-top: 5px;
}
#settings-form-glass #settings-form #container #text-align input,
#settings-form-glass #settings-form #container #vposition input,
#settings-form-glass #settings-form #container #hposition input{
	display: none;
}
#settings-form-glass #settings-form #container #text-align input + label:before,
#settings-form-glass #settings-form #container #vposition input + label:before,
#settings-form-glass #settings-form #container #hposition input + label:before{
	font: bold 25px icon;
	color: rgba(0, 70, 160, 1);
	margin: 5px;
}
#settings-form-glass #settings-form #container #vposition #opttop + label:before{
	content: "\f228";
}
#settings-form-glass #settings-form #container #vposition #optmiddle + label:before{
	content: "\f229";
}
#settings-form-glass #settings-form #container #vposition #optbottom + label:before{
	content: "\f22a";
}
#settings-form-glass #settings-form #container #hposition #optright + label:before{
	content: "\f22b";
}
#settings-form-glass #settings-form #container #hposition #optcenter + label:before{
	content: "\f22c";
}
#settings-form-glass #settings-form #container #hposition #optleft + label:before{
	content: "\f22d";
}
#settings-form-glass #settings-form #container #text-align #opttright + label:before{
	content: "\f039";
}
#settings-form-glass #settings-form #container #text-align #opttcenter + label:before{
	content: "\f020";
}
#settings-form-glass #settings-form #container #text-align #opttleft + label:before{
	content: "\f036";
}
#settings-form-glass #settings-form #container #text-align input:checked + label:before,
#settings-form-glass #settings-form #container #vposition input:checked + label:before,
#settings-form-glass #settings-form #container #hposition input:checked + label:before{
	color: rgba(235, 85, 5, 1);
}

#settings-form-glass #settings-form #container #src #preview{
	position: relative;
	margin: 5px;
	width: 250px;
	height: 150px;
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#settings-form-glass #settings-form #container #src button{
	border-radius: 7px;
	background-color: rgba(0, 60, 170, 1);
}
#settings-form-glass #settings-form #container #src #delete:before{
	content: "\f03f";
}
#settings-form-glass #settings-form #container #src #browse:before{
	content: "\f03e";
}

#settings-form-glass #settings-form #container #color #preview,
#settings-form-glass #settings-form #container #bordercolor #preview{
	position: relative;
	margin: 5px;
	width: 50px;
	height: 50px;
	background-color: black;
}
#settings-form-glass #settings-form #container #color .color,
#settings-form-glass #settings-form #container #bordercolor .color{
	position: relative;
	width: 255px;
}
#settings-form-glass #settings-form #container #color .color .bar,
#settings-form-glass #settings-form #container #bordercolor .color .bar{
	position: relative;
	width: 255px;
	height: 7px;
}
#settings-form-glass #settings-form #container #color .color #red,
#settings-form-glass #settings-form #container #bordercolor .color #red{
	background-color: red;
}
#settings-form-glass #settings-form #container #color .color #green,
#settings-form-glass #settings-form #container #bordercolor .color #green{
	background-color: green;
}
#settings-form-glass #settings-form #container #color .color #blue,
#settings-form-glass #settings-form #container #bordercolor .color #blue{
	background-color: blue;
}
#settings-form-glass #settings-form #container #color .color .pointer,
#settings-form-glass #settings-form #container #bordercolor .color .pointer{
	position: absolute;
	padding: 0px;
	margin-top: -11px;
	width: 6px;
	height: 15px;
	left: 0px;
	background-color: gray;
}
#settings-form-glass #settings-form #container #font input + label:before{
	margin: 5px;
	font: bold 18px icon;
	color: rgba(0, 70, 160, 1);
}
#settings-form-glass #settings-form #container #font #style + label:before{
	content: "\f035";
}
#settings-form-glass #settings-form #container #font #style:checked + label:before{
	content: "\f034";
}
#settings-form-glass #settings-form #container #font #weight + label:before{
	content: "\f033";
}
#settings-form-glass #settings-form #container #font #weight:checked + label:before{
	content: "\f032";
}
#settings-form-glass #settings-form #container #font #size{
	width: 50px;
	height: 22px;
	background-color: transparent;
	border: 1px solid rgb(170, 170, 170);
	border-bottom: 2px solid rgba(0, 70, 160, 1);
	border-radius: 4px 4px 0 0;
	outline: none;
	font: 15px settings;
}
#settings-form-glass #settings-form #container #font #family{
	width: 100px;
	height: 22px;
	background-color: transparent;
	border-bottom: 2px solid rgba(0, 70, 160, 1);
	border-radius: 4px 4px 0 0;
	outline: none;
	font: 15px settings;
}
#settings-form-glass #settings-form #container #font #font-preview{
	position: relative;
	margin: 5px;
	width: 50px;
	height: 50px;
	text-shadow: none;
}
#settings-form-glass #settings-form #container #font .color{
	position: relative;
	width: 255px;
}
#settings-form-glass #settings-form #container #font .color .bar{
	position: relative;
	width: 255px;
	height: 7px;
}
#settings-form-glass #settings-form #container #font .color #red{
	background-color: red;
}
#settings-form-glass #settings-form #container #font .color #green{
	background-color: green;
}
#settings-form-glass #settings-form #container #font .color #blue{
	background-color: blue;
}
#settings-form-glass #settings-form #container #font .color .pointer{
	position: absolute;
	padding: 0px;
	margin-top: -11px;
	width: 6px;
	height: 15px;
	left: 0px;
	background-color: gray;
}


#settings-form-glass #settings-form #submit{
	position: absolute;
	width: 150px;
	bottom: 7px;
	text-align: center;
	left: 10px;
}
#settings-form-glass #settings-form #cancel{
	position: absolute;
	width: 150px;
	bottom: 7px;
	text-align: center;
	right: 10px;
}

.container{
	position: fixed;
	margin: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	direction: rtl;
	z-index: 99994;
}
.container #content{
	position: absolute;
	padding: 0px;
	left: 0px;
	right: 0px;
	top: 70px;
	bottom: 0px;
	padding-top: 5px;
	background-color: white;
	overflow-x: hidden;
}
.container #content img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-moz-user-drag: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.module-place{
	position: relative;
	border: 4px dashed rgba(50, 150, 50, 1);
	direction: rtl;
	text-align: center;
	padding: 100px;
	font: bold 30px mitra;
	color: rgba(50, 150, 50, 1);
}

.row{
	position: relative;
	text-align: left;
}
.col{
	position: relative;
}
.mp{
	position: relative;
}
.mp #btndelete{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	display: none;
	z-index: 99997;
}
.mp:hover #btndelete{
	display: initial;
}
.mp #btndelete:before{
	font: bold 17px icon;
	color: rgba(235, 85, 5, 1);
	content: "\f014";
}
.mp #btndelete:hover:before{
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.mp #btnmove{
	position: absolute;
	left: 30px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	display: none;
	z-index: 99997;
}
.mp:hover #btnmove{
	display: initial;
}
.mp #btnmove:before{
	font: bold 17px icon;
	color: rgba(235, 85, 5, 1);
	content: "\f047";
}
.mp #btnmove:hover:before{
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.horizental-locator{
	position: relative;
	width: 100%;
	height: 7px;
	background-color: rgba(255, 255, 255, 1);
	border-top: 2px dashed green;
	border-bottom: 2px dashed green;
	z-index: 99997;
}

.vertical-locator{
	position: absolute;
	width: 7px;
	top: 0px;
	background-color: rgba(255, 255, 255, 1);
	border-left: 2px dashed green;
	border-right: 2px dashed green;
	z-index: 99997;
}


#image-selector{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	transition: 250ms;
	transform: scaleY(0);
	transform-origin: top;
	-moz-transition: 250ms;
	-moz-transform: scaleY(0);
	-moz-transform-origin: top;
	-webkit-transition: 250ms;
	-webkit-transform: scaleY(0);
	-webkit-transform-origin: top;
	z-index: 99999;
}
#image-selector .glass{
	width: 100%;
	height: 100%;
}
#image-selector .images-list{
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background-color: rgba(235, 245, 255, 1);
	border-radius: 7px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	overflow: hidden;
	z-index: 99998;
}
#image-selector .images-list #container{
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding: 5px;
	padding-left: -moz-calc( 0% + 20px );
	text-align: center;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
}
#image-selector .images-list #container::-webkit-scrollbar{
	display: none;
}
#image-selector .images-list #container .image-selector-item{
	position: relative;
	width: 180px;
	height: 140px;
	margin: 5px;
	padding: 0px;
	outline: none;
	background-color: black;
	border: 0px;
	border-radius: 5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	opacity: 0.3;
	overflow: hidden;
}
#image-selector .images-list #container .image-selector-item:hover{
	opacity: 0.8;
}
#image-selector .images-list #container .selected{
	opacity: 1;
}
#image-selector .images-list #container .image-selector-item img{
	position: absolute;
	width: auto;
	height: auto;
	max-width: 180px;
	max-height: 140px;
}