/* Fonts definitions */
@font-face{
	font-family:'mitra';
    src:url('/includes/themes/default/includes/fonts/BMitra.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BMitra.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BMitra.ttf') format('truetype'); 
}
@font-face{
	font-family:'titr';
    src:url('/includes/themes/default/includes/fonts/BTitr.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BTitr.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BTitr.ttf') format('truetype'); 
}
@font-face{
	font-family:'nazanin';
    src:url('/includes/themes/default/includes/fonts/BNazanin.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BNazanin.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BNazanin.ttf') format('truetype'); 
}
@font-face{
	font-family:'davat';
    src:url('/includes/themes/default/includes/fonts/BDavat.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BDavat.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BDavat.ttf') format('truetype'); 
}
@font-face{
	font-family:'roya';
    src:url('/includes/themes/default/includes/fonts/BRoya.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BRoya.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BRoya.ttf') format('truetype'); 
}
@font-face{
	font-family:'shiraz';
    src:url('/includes/themes/default/includes/fonts/BShiraz.eot?#') format('eot'),
		url('/includes/themes/default/includes/fonts/BShiraz.woff') format('woff'),
		url('/includes/themes/default/includes/fonts/BShiraz.ttf') format('truetype'); 
}
@font-face{
	font-family:'icon';
	src: url('/includes/themes/default/includes/fonts/icon.ttf') format('truetype');
}
