html, body{
	outline: none;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table td[type="text"] button:hover{
	color: rgba(235, 85, 5, 1);
}

.main-header{
	padding: 0px;
	margin: 0px;
	height: 70px;
	position: fixed;
	top: 25px;
	right: 350px;
	left: 25px;
	background-color: rgba(0, 70, 160, 1);
	border-radius: 7px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	text-align: left;
	z-index: 99995;
}
.main-menu{
	margin-top: 10px;
}
.main-menu .icon{
	margin-left: 15px;
}
.icon[active="true"]:before,
.icon[active="true"]:hover:before{
	color: rgba(50, 150, 220, 1);
	text-shadow: 0px 0px 10px rgba(0, 10, 30, 1);
}
#btnhome:before{
	content: '\f23d';
}
#btnlogin:before{
	content: "\f116";
}
.user-menu{
	direction: ltr;
	position: absolute;
	top: 45px;
	z-index: 99997;
	display: none;
}
.login,
.profile{
	position: absolute;
	padding: 0px;
	width: 50px;
	border-radius: 5px;
	background-color: rgba(0, 70, 160, 1);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
	display: none;
}
#login:before{
	content: "\f090";
}
#signup:before{
	content: "\f117";
}

#btnadministrator:before{
	content: "\f040";
}
#btndesigner:before{
	content: "\f12e";
}
#btnsettings:before{
	content: "\f085";
}
#btnstore:before{
	content: "\f07a";
}
#btnlogout:before{
	content: "\f08b";
}

#btnfactor{
	position: relative;
}
#btnfactor:before{
	font-size: 32px;
	content: "\f05f";
}
#btnfactor[status="full"]:after{
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
	background-color: rgba(235, 85, 5, 1);
	content: "";
}
#btntariff:before{
	content: "\f02c";
}
#btnstore:before{
	content: "\f10f";
}

.sidebar{
	padding: 0px;
	margin: 0px;
	width: 300px;
	position:fixed;
	top: 25px;
	bottom: 25px;
	right: 25px;
	border-radius: 7px;
	background-color: rgba(50, 150, 220, 1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
	z-index: 99995;
}
.sidebar header{
	padding: 10px 0px 9px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	height: 50px;
	margin: 0px;
	text-align: center;
	font-size: 25px;
	font-family: titr;
	color: rgba(180, 230, 250, 1);
	background-color: transparent;
	text-shadow: 0px 0px 5px rgba(90, 60, 30, 1);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
	border-radius: 7px 7px 0 0;
}
.sidebar-menu{
	position: absolute;
	width: 100%;
	margin: 0px;
	top: 70px;
	bottom: 0px;
	padding: 10px 10px;
	cursor: default;
}
.sidebar-menu .text{
	width: 280px;
}

.container{
	position: fixed;
	margin: 0px;
	left: 25px;
	right: 350px;
	top: 115px;
	bottom: 25px;
	background-color: rgba(240, 245, 255, 1);
	border-radius: 7px;
	box-shadow: 0px 0px 5px rgba(0, 10, 30, 1);
	overflow: hidden;
	transform: scaleY(1);
	transform-origin: 0px top;
	transition: 250ms ease;
	-moz-transform: scaleY(1);
	-moz-transform-origin: 0px top;
	-moz-transition: 250ms ease;
	-webkit-transform: scaleY(1);
	-webkit-transform-origin: 0px top;
	-webkit-transition: 250ms ease;
	z-index: 99994;
}
.container #background-logo{
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 50px;
	background-image: url('/includes/images/background.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.1;
}
.container #content{
	position: absolute;
	padding: 0px;
	left: 10px;
	left: -moz-calc( 0% - 20px );
	right: 10px;
	top: 5px;
	bottom: 5px;
	padding-top: 5px;
	padding-left: -moz-calc( 0% + 20px );
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
}
.container #content::-webkit-scrollbar{
	display: none;
}

/*
// Account Page Styles --------------------------------------------------
*/
.account{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 22px mitra;
	color: rgba(0, 100, 180, 1);
}
.account #form{
	position: absolute;
	width: 300px;
	height: 300px;
	margin: -150px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.account #form #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.account #form #container{
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 5px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.account #form #container::-webkit-scrollbar{
	display: none;
}

.account table{
	direction: rtl;
	width: 100%;
	font: bold 18px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.account table td{
	height: 35px;
}
.account table td .input{
	margin: 7px;
}
.account table td button{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}
.account table td button:before{
	box-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

/*
// Site Configuration Page Styles --------------------------------------------------
*/
.siteconfig{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 22px mitra;
	color: rgba(0, 100, 180, 1);
}
.siteconfig #form{
	position: absolute;
	width: 400px;
	height: 300px;
	margin-top: -150px;
	margin-left: -200px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.siteconfig #form #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.siteconfig #form #container{
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 5px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.siteconfig #form #container::-webkit-scrollbar{
	display: none;
}

.siteconfig table{
	direction: rtl;
	width: 100%;
	font: bold 18px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.siteconfig table td{
	height: 35px;
}
.siteconfig table td .input{
	margin: 7px;
}
.siteconfig table td textarea{
	direction: rtl;
	width: 365px;
	height: 80px;
	resize: none;
	border-radius: 3px;
	color: rgba(0, 30, 90, 1);
	background-color: transparent;
	border-color: rgba(0, 100, 180, 1);
	font: 17px nazanin;
	color: rgba(0, 100, 180, 1);
}
.siteconfig table td  textarea:focus{
	outline: none;
	border-color: rgba(235, 85, 5, 1);
}
.siteconfig table td button{
	width: 100%;
	text-align: center;
	font-size: 25px;
}
.siteconfig table td button:before{
	box-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

/*
// Password Change Page Styles --------------------------------------------------
*/
.changepass{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 22px mitra;
	color: rgba(0, 100, 180, 1);
}
.changepass #form{
	position: absolute;
	width: 300px;
	height: 300px;
	margin: -150px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.changepass #form #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.changepass #form #container{
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 5px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.changepass #form #container::-webkit-scrollbar{
	display: none;
}

.changepass table{
	direction: rtl;
	width: 100%;
	font: bold 18px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.changepass table td{
	height: 35px;
}
.changepass table td .input{
	margin: 7px;
}
.changepass table td button{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}
.changepass table td button:before{
	box-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

/*
// balance Page Styles --------------------------------------------------
*/
.balance{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 20px mitra;
	color: rgba(0, 100, 180, 1);
}
.balance #transfers{
	position: absolute;
	width: 450px;
	height: 300px;
	margin-top: -150px;
	margin-left: -225px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.balance #transfers #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.balance #transfers #container{
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 5px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.balance #transfers #container::-webkit-scrollbar{
	display: none;
}

.balance table{
	direction: rtl;
	width: 100%;
	font: bold 18px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.balance table td{
	border-left: 0px solid rgba(235, 80, 5, 1);
	height: 45px;
}

/*
// Activate Page Styles -------------------------------------------------
*/
.activate{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 22px mitra;
	color: rgba(0, 100, 180, 1);
}
.activate #form{
	position: absolute;
	width: 350px;
	height: 350px;
	margin: -175px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.activate #form #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.activate #form #container{
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 10px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.activate #form #container::-webkit-scrollbar{
	display: none;
}

.activate table{
	direction: rtl;
	width: 100%;
	font: bold 20px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.activate table td{
	height: 30px;
	text-align: right;
	text-align: justify;
	text-justify: inter-cluster;
}
.activate table .separator{
	height: 15px;
}
.activate table .separator hr{
	width: 100%;
	border: 0px;
	margin: 0px;
	padding-top: 1px;
	box-shadow: 0px 1px 3px rgba(0, 70, 160, 1);
}
.activate table td input[type="radio"]{
	width: 25px;
	height: 25px;
	display: none;
}
.activate table td input + label{
	position: relative;
	padding-right: 40px;
}
.activate table td input + label font{
	color: rgba(235, 85, 5, 1);
}
.activate table td input + label:before{
	position: absolute;
	top: 3px;
	right: 10px;
	font: bold 20px icon;
	content: "\f0c8";
}
.activate table td input:checked + label:before{
	content: "\f14a";
}
.activate table td input[class="selected"] + label:before{
	content: "\f00c";
}
.activate table td .input{
	margin: 0px;
	margin-bottom: 10px;
}
.activate table td button{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}
.activate table td button:before{
	box-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

/*
// Support Page Styles --------------------------------------------------
*/
.support{
	direction: rtl;
	padding: 5px 10px 0px 10px;
	font: bold 22px mitra;
	color: rgba(0, 100, 180, 1);
}
.support #form{
	position: absolute;
	width: 300px;
	height: 300px;
	margin: -150px;
	padding-bottom: 25px;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 7px;
	background-color: rgba(210, 230, 255, 0.8);
	box-shadow: 0px 0px 5px rgba(0, 30, 60, 1);
	overflow: hidden;
	z-index: 99999;
}
.support #form #title{
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7px 7px 0px 0px;
	font: bold 20px titr, mitra, nazanin;
	color: white;
	text-shadow: 0px 0px 3px rgba(0, 30, 60, 1);
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 30, 60, 1);
}
.support #form #container{
	position: absolute;
	top: 60px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	left: -moz-calc( 0% - 20px );
	padding-left: -moz-calc( 0% + 5px );
	overflow-x: hidden;
	overflow-y: scroll;
}
.support #form #container::-webkit-scrollbar{
	display: none;
}

.support table{
	direction: rtl;
	width: 100%;
	font: bold 18px mitra;
	color: rgba(0, 100, 180, 1);
	direction: ltr;
	text-align: center;
 }
.support table td{
	height: 35px;
}
.support table td .input{
	margin: 7px;
}
.support table td textarea{
	direction: rtl;
	width: 280px;
	height: 180px;
	resize: none;
	border-radius: 3px;
	color: rgba(0, 30, 90, 1);
	background-color: transparent;
	border-color: rgba(0, 100, 180, 1);
	font: 17px nazanin;
	color: rgba(0, 100, 180, 1);
}
.support table td  textarea:focus{
	outline: none;
	border-color: rgba(235, 85, 5, 1);
}
.support table td button{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
}
.support table td button:before{
	box-shadow: 0px 0px 3px rgba(235, 85, 5, 1);
}

